<html>
    <head>
        <title>Central</title>
    </head>
    <body>
        <div>
            <label>Enter IP Address to be monitored here<br><input type="text" width="10" name="IP Address"></label>
        </div>
        <p id="lilfooty"></p>
        <a href="http://localhost:5000/download">Click here for history</a>
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>
</html>